
.add-account{
    width: 190px;
    height: 40px;
    margin: 80px 0 0 20px;
    padding: 0;
    border: none;
    background: unset;
    outline: none;
    /* background: #2c9ae3; */
}
.add-account span{
    float: left;
}
.add-account span:nth-child(2){
    font-size: 16px;
    line-height: 40px;
    font-weight: bold;
    display: inline-block;
    color: #333;
    margin: 0 0 0 20px;
}
.fa-lg{
    font-size: 40px;
}
p.info {
    width: calc(100% - 40px);
    float: left;
    font-size: 14px;
    line-height: 25px;
    padding: 100px 0px 50px 0px;
    text-align: left;
}

.header{
    width: 100%;
    height: 80px;
    background: #fff;
}
.head-main,.main{
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 40px;
}
.logo{
    width: 110px;
    height: 28px;
    float: left;
    margin: 26px 0 0 0;
}
.get-balance{
    width: auto;
    float: right;
    font-size: 16px;
    color: #666;
    margin: 26px 0 0 0;
}

.balanceClaim{
    width: auto;
    float: right;
    font-size: 11px;
    color: #2c9ae3;
    margin: 0px 0 0 0;
    padding: 5px 40px 0 0px;
}


/* add create account */
input,select{
    outline: none;
}
.dask{
    width: 100%;
    height: 130%;
    display: none;
    position: absolute;
    top: 0;
    z-index: 1;
    background: rgb(0,0,0,.4)
}
.minedask{
    width: 100%;
    height: 130%;
    display: none;
    position: absolute;
    top: 0;
    z-index: 1;
    background: rgb(0,0,0,.4)
  }
.create-account{
    width: 340px;
    height: 164px;
    position: absolute;
    z-index: 2;
    top: 200px;
    right: 0;
    bottom: 0;
    left: calc(50% - 170px);
    display: none;
    background: #f8fafb;
    padding: 54px 40px 42px 40px;
    font-size: 14px;
    font-family: 'SourceHansansCN-regular';
}
#passWord{
    width: calc(100% - 55px);
    height: 34px;
    border: 1px solid #e0e7eb;
    font-size: 14px;
    padding: 0 43px 0 10px;
}
#passWord::placeholder{
    color: #c4c8ca;
}
#shardnum{
    width:78px;
    height: 34px; 
    border: 1px solid #e0e7eb;
    color: #333;
    padding-left: 10px;
    margin: 20px 0 0 0;
}
.name{
    color: #333;
    margin-left: 10px;
}
#cancel{
    width: 80px;
    height: 32px;
    background: #bdc7ce;
    color: #fff;
    border:none;
    border-radius: 4px;
    margin: 40px 25px 0 150px;
    cursor: pointer;
}
#createKey{
    width: 80px;
    height: 32px;
    background: #2c9ae3;
    color: #fff;
    border:none;
    border-radius: 4px;
    margin: 40px 0px 0 0;
}
#mineConfigcancel{
    width: 80px;
    height: 32px;
    background: #bdc7ce;
    color: #fff;
    border:none;
    border-radius: 4px;
    margin: 40px 25px 0 150px;
    cursor: pointer;
}
.hideShowPassword-toggle {
    background-image: url(../img/eye.png);
    background-position: 0 center;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    text-indent: -9999em;
    width: 30px;
    position: absolute;
    margin-top: -27px;
    margin-left: 305px;
    user-select: none;
}
.hideShowPassword-toggle-hide {
    background-position: -40px center;
}


.search-hash{
    width: 517px;
    height: 655px;
    position: absolute;
    z-index: 2;
    top: 300px;
    right: 0;
    bottom: 0;
    left: calc(50% - 300px);
    display: none;
    background: #fff;
    padding: 20px 30px 20px 30px;
    font-size: 14px;
    font-family: 'SourceHansansCN-regular';
}
.search-hash h3{
    font-size: 24px;
    color: #666;
    text-align: center;
    line-height: 24px;
}
.search{
    width: 100%;
    margin-top: 28px;
    height: 42px;
}
.search input{
    width: calc(100% - 2px);
    border: 1px solid #999;
    border-radius: 2px;
    height: 40px;
    padding-left:15px; 
}
.search button{
    width: 23px;
    height: 23px;
    border: none;
    background: unset;
    outline: none;
    position: absolute;
    z-index: 50;
    margin-top: -34px;
    margin-left: 473px;
    cursor: pointer;
}
.search-hash ul{
    width: calc(100% - 30px);
    background: #fafafa;
    height: 437px;
    margin-top: 24px;
    padding: 5px 15px 15px 15px;
}
.search-hash ul li{
    list-style: none;
    line-height: 30px;
    word-wrap: break-word; 
}
.ok-search{
    width: 110px;
    height: 40px;
    background: #1973AF;
    color: #fff;
    border: none;
    margin: 5px 0 0 200px;
    cursor: pointer;
}

.qr_result {
    display: none;
}
