/* 
_____________________________________
display for the main page
 */


.header{
    position: fixed;
    top: 0px;
    z-index: 2;
    width: 100%;
    height: 80px;
    background: #fff;
    /* overflow: auto; */
}
.head-main {
      min-width: 900px;
      /* margin-top: 80px; */
      width: 100%;
      z-index: 3;
      /* margin: 0; */
      /* padding-bottom: 40px; */
      margin: auto;
      height: 100%;
}

.main {
    /* width: 1180px; */
    /* margin-top: 80px; */
    width: 100%;
    /* margin: 0; */
    /* padding-bottom: 40px; */
    margin: auto;
    height: 100%;
    overflow: visible;
}
#txEmpty,
#accountEmpty {
  height: 200px;
  width: calc(100%-40px);
  margin: 20px;
  text-align: center;
  line-height: 200px;
  opacity: 0.5;
}

#txrecordtitle,{
  margin-top: 20px;
}
#accountlisttitle{
  margin-top: 60px;
}

html{
  min-width: 1200px;
}

body {
    font-family: Helvetica;
    /* background: #ebf1f5; */
    margin: 0px;
    background: #fff;
    /* margin: 10; */
    width: 100%;
    overflow-x: hidden;
    float: left;
    padding-bottom: 0px;
}

.container{
    /* float: left; */
    width: 1200px;
    padding-bottom: 0px;
    margin: auto;
}

.logo{
    width: 110px;
    height: 28px;
    float: left;
    margin: 26px 0 0 26px;
}

.get-balance {
    width: auto;
    float: right;
    font-size: 16px;
    color: #666;
    margin: 26px 26px 0 0;
}

.dask{
    width: 110%;
    height: 500%;
    display: none;
    position: absolute;
    top: 0;
    z-index: 1;
    background: rgb(0,0,0,.4)
}

